<div class = 'row text-center' style = 'padding-top:100px'>
  <div align="left"class='col-xs-3'>    <a href="#profile" class="btn btn-default btn-lg btn-block">Saved</a><br><form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Location</label>
    <div class="col-sm-10">
      <input type="Location" class="form-control" id="inputEmail3" placeholder="Location">
    </div>
  </div>
    <b> Profession: </b>
    <select class="form-control">
  <option>Lawyer</option>
  <option>Teacher</option>
  <option>Chef</option>
  <option>Actor/Actress</option>
  <option>Engineer</option>
</select>
<br>
    <div align="center" class="form-group"><b>Interests</b>
    <div align="left" class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Web Design
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Psychology
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Buisness Management
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Graphic Design
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Journalism
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Search</button>
    </div>
  </div>
</form></div>


  <div class='col-xs-6'>
    <a href="#profile" class="btn btn-default btn-lg btn-block">Notifications</a>
    <div class = 'notification-list row'><br>
      <div class="row">
        <div class="notification-img"><%= image_tag "Notifications Button.png", class: "img-circle image-size-notifications"%></div>
        <div>You have saved possible connections.</div>
      </div>
      <div class="row">
        <div class="notification-img"><%= image_tag "Notifications Button.png", class: "img-circle image-size-notifications"%></div>
        <div>Henry Oliver accepted your invitation to connect.</div>
      </div>
      <div class="row">
        <div class="notification-img"><%= image_tag "Notifications Button.png", class: "img-circle image-size-notifications"%></div>
        <div>Finish updating your profile to find more mentors.</div>
      </div><br>
    </div>


    <%= image_tag "MentorsTxt.png", class: "img-responsive"%>
    <br>
    <a href="#profile" class="btn btn-default btn-lg btn-block">Mentors</a>
    <div class='col-xs-4'><br><%= image_tag "HeadshotHack1.png", class: "img-responsive img-circle"%>Maurice Johnson<br><%= image_tag "MentorsImageButton.png", class: "img-responsive img-rounded"%><br><%= link_to "profileExample" do %><%= image_tag "ViewProfileButton.png", class: "img-responsive img-rounded"%><% end %><br></div>
    <div class='col-xs-4'> <br> <%= image_tag "HeadshotHack2.png", class: "img-responsive img-circle"%>Cynthia Molina<br><%= image_tag "MentorsImageButton.png", class: "img-responsive img-rounded"%><br><%= link_to 'profileExample' do %><%= image_tag "ViewProfileButton.png", class: "img-responsive img-rounded"%><% end %><br></div>
    <div class='col-xs-4'><br><%= image_tag "HeadshotHack3.png", class: "img-responsive img-circle"%>Henry Oliver<br><%= image_tag "MentorsImageButton.png", class: "img-responsive img-rounded"%><br><%= link_to 'profileExample' do %><%= image_tag "ViewProfileButton.png", class: "img-responsive img-rounded"%><% end %><br><br><br><br></div>

    <%= image_tag "SavedTxt.png", class: "img-responsive"%>
    <br>
    <a href="#profile" class="btn btn-default btn-lg btn-block">Saved</a>
    <div class='col-xs-4'><br><%= image_tag "HeadshotsHack4.png", class: "img-responsive img-circle"%>Kelly Michaels<br><br><%= link_to 'profileExample' do %><%= image_tag "ViewProfileButton.png", class: "img-responsive img-rounded"%><% end %><br><br><br></div>

    <div class='col-xs-4'> <br> <%= image_tag "HeadshotsHack6.png", class: "img-responsive img-circle"%>Chad Brazewood<br><br>  <%= link_to 'profileExample' do %><%= image_tag "ViewProfileButton.png", class: "img-responsive img-rounded"%><% end %><br><br><br></div>
    <div class='col-xs-4'><br><%= image_tag "HeadshotsHack5.png", class: "img-responsive img-circle"%>Margaret O'Donald<br><br> <%= link_to 'profileExample' do %><%= image_tag "ViewProfileButton.png", class: "img-responsive img-rounded"%><% end %><br><br><br></div></div>

  <div class='col-xs-3'>    <a href="menteeProfile" class="btn btn-default btn-lg btn-block">Profile</a><br><%= image_tag "ProfileHeadPicture.png", class: "img-responsive img-circle"%>
    <div class = "profile-info"><h4>Troy Bolton</h4>
      <p>University: East University </p>
      <p>Major: Communications </p>
      <p>Minor: Basketball </p>
      <p>Bio: Ah Suh Dude! ✌️ I love basketball and living life to the fullest. I can also sing and do musical theatre like a boss. My favorite time is summer time. </p>
    </div>
    </div>
</div>