<%= simple_form_for(@mentee_profile) do |m| %>
  <%= m.error_notification %>

  <div class="form-inputs">
    <%= m.input :name %>
    <%= m.input :email %>
    <%= m.input :password %>
    <%= m.input :confirmpassword %>
    <%= m.input :levelofeducation, label:"Level of Education"%>
    <%= m.input :majoruniversity, label:"University" %>
    <%= m.collection_check_boxes :interest, [[0, "Web Desgin"],[0, "Psychology"],[0, "Business"],[0, "Graphic Design"],[0, "Journalism"]], :first, :last %>
  </div>

  <div class="form-actions">
    <%= m.button :submit %>
  </div>
<% end %>