<p id="notice"><%= notice %></p>

<h1>Listing Mentee Profiles</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mentee_profiles.each do |mentee_profile| %>
      <tr>
        <td><%= link_to 'Show', mentee_profile %></td>
        <td><%= link_to 'Edit', edit_mentee_profile_path(mentee_profile) %></td>
        <td><%= link_to 'Destroy', mentee_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mentee profile', new_mentee_profile_path %>
